body,html{
  height: 100%;
}

.header {
  border: 3px solid red;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  height: 11%;


  .logo{
    border: 2px solid deeppink;

    width: 30%;
  }

  .login{
    border: 2px solid orange;

    width: 30%;
  }


}

.body {
  border: 3px solid black;

  width: 75%;
  height: 120%;

  margin: 0 auto;

  .body-header{

    border: 2px solid red;
    height: 10%;

  }

  .body-wrapper{

    border: 2px solid blue;
    height: 90%;
    width: 90%;
    margin: 0 auto;
  }

}

.footer {
  border: 3px solid blue;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  height: 15%;

  .contact {
    border: 2px solid lightseagreen;

    width: 50%;
  }

  .social {
    border: 2px solid yellow;

    width: 50%;
  }

}
