body,html{
  background-color: #292F36;
  height: 100%;
}

.header {
  // border: 3px solid red;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 11%;

  .logo {
    // border: 2px solid deeppink;
    width: 30%;
  }

  .login {
    // border: 2px solid orange;
    width: 30%;
  }
}

.content {
  background-color: #292F36;
	font-size: 16px;
	color: #ffffff;
	word-wrap: break-word !important;
	font-family: 'Verdana';
  // border: 3px solid black;
  width: 75%;
  height: 120%;
  margin: 0 auto;

  .content-navbar {
    width: fit-content;
    color: white;
    background-color: #05668D;
    display: flex;
    align-items: center;
    // border: 2px solid red;
    height: 8%;

    .navbar-menu {
      display: block;
      align-items: center;
      height: 100%;
      // width: 100%;

      .navbar-menu-items {
        margin: 0;
        padding: 0;
        // width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        li {
          display: block;
          height: 100%;
          list-style: none;
          align-items: center;

          div {
            display: flex;
            align-items: center;
            height: 100%;
          }

          > a {
            display: flex;
            align-items: center;
            height: 100%;
            padding-left: 10px;
            padding-right: 10px;
            text-decoration: none;
            color: white;
          }

          ul {
            list-style: none;
            // display: none;
            visibility: hidden;
            padding: 0;
            position: absolute;

            li {
              height: 10vh;
            }
          }

          &:hover, &:focus, &:focus-within {
            background-color: #58A4B0;
          }

          &:hover ul, &:focus ul, &:focus-within ul {
            background-color: #05668D;
            // display: flex;
            visibility: visible;
          }
        }

        button {
          background: transparent;
        }
      }
    }

  }

  .content-wrapper{

    // border: 2px solid blue;
    height: 90%;
    width: 90%;
    margin: 0 auto;
  }

}

.footer {
  // border: 3px solid blue;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  height: 15%;

  .contact {
    // border: 2px solid lightseagreen;

    width: 50%;
  }

  .social {
    // border: 2px solid yellow;

    width: 50%;
  }

}
