body, html {
  width: 100%;
  margin: 0;
  background-color: #292F36;
  height: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 11%;
}
.header .logo {
  width: 30%;
}
.header .login {
  width: 30%;
}

.content {
  background-color: #292F36;
  color: #ffffff;
  font-size: 3vw;
  word-wrap: break-word !important;
  font-family: "Verdana";
  width: 100%;
  height: 120%;
  margin: 0 auto;
}
.content .content-navbar {
  width: 100%;
  color: white;
  background-color: #05668D;
  align-items: center;
}
.content .content-navbar .navbar-menu {
  width: 100%;
  display: block;
  align-items: center;
  height: 100%;
}
.content .content-navbar .navbar-menu .navbar-menu-items {
  margin: 0;
  padding: 0;
  width: 100%;
}
.content .content-navbar .navbar-menu .navbar-menu-items li {
  display: inline-block;
  width: 100%;
  height: 10vh;
  list-style: none;
}
.content .content-navbar .navbar-menu .navbar-menu-items li div {
  height: 100%;
}
.content .content-navbar .navbar-menu .navbar-menu-items li a {
  display: inline-block;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  color: white;
}
.content .content-navbar .navbar-menu .navbar-menu-items li ul {
  padding: 0;
  width: 100%;
  list-style: none;
}
.content .content-navbar .navbar-menu .navbar-menu-items li ul li {
  display: inline-block;
  height: 10vh;
  list-style: none;
}
.content .content-navbar .navbar-menu .navbar-menu-items li:hover, .content .content-navbar .navbar-menu .navbar-menu-items li:focus {
  background-color: #58A4B0;
}
.content .content-navbar .navbar-menu .navbar-menu-items li:hover ul, .content .content-navbar .navbar-menu .navbar-menu-items li:focus ul, .content .content-navbar .navbar-menu .navbar-menu-items li:focus-within ul {
  background-color: #05668D;
}
.content .content-navbar .navbar-menu .navbar-menu-items button {
  background: transparent;
}
.content .content-wrapper {
  height: 90%;
  width: 90%;
  margin: 0 auto;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 15%;
}
.footer .contact {
  width: 50%;
}
.footer .social {
  width: 50%;
}

@media only screen and (min-width: 768px) {
  body, html {
    background-color: #292F36;
    height: 100%;
  }

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 11%;
  }
  .header .logo {
    width: 30%;
  }
  .header .login {
    width: 30%;
  }

  .content {
    background-color: #292F36;
    color: #ffffff;
    word-wrap: break-word !important;
    font-size: 1.2vw;
    font-family: "Verdana";
    width: 75%;
    height: 120%;
  }
  .content .content-navbar {
    color: white;
    background-color: #05668D;
    display: flex;
    align-items: center;
    height: 10vh;
  }
  .content .content-navbar .navbar-menu {
    display: block;
    align-items: center;
    height: 100%;
  }
  .content .content-navbar .navbar-menu .navbar-menu-items {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .content .content-navbar .navbar-menu .navbar-menu-items li {
    width: auto;
    display: flex;
    height: 100%;
    list-style: none;
    align-items: center;
  }
  .content .content-navbar .navbar-menu .navbar-menu-items li div {
    display: flex;
    align-items: center;
    height: 100%;
  }
  .content .content-navbar .navbar-menu .navbar-menu-items li > a {
    height: auto;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    color: white;
  }
  .content .content-navbar .navbar-menu .navbar-menu-items li ul {
    position: absolute;
    flex-direction: column;
    width: auto;
    list-style: none;
    visibility: hidden;
    padding: 0;
  }
  .content .content-navbar .navbar-menu .navbar-menu-items li ul li {
    display: inline-block;
    width: auto;
    height: 10vh;
  }
  .content .content-navbar .navbar-menu .navbar-menu-items li:hover, .content .content-navbar .navbar-menu .navbar-menu-items li:focus, .content .content-navbar .navbar-menu .navbar-menu-items li:focus-within {
    background-color: #58A4B0;
  }
  .content .content-navbar .navbar-menu .navbar-menu-items li:hover ul, .content .content-navbar .navbar-menu .navbar-menu-items li:focus ul, .content .content-navbar .navbar-menu .navbar-menu-items li:focus-within ul {
    background-color: #05668D;
    visibility: visible;
  }
  .content .content-navbar .navbar-menu .navbar-menu-items button {
    background: transparent;
  }
  .content .content-wrapper {
    height: 90%;
    width: 90%;
    margin: 0 auto;
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 15%;
  }
  .footer .contact {
    width: 50%;
  }
  .footer .social {
    width: 50%;
  }
}

/*# sourceMappingURL=style.css.map */
